.body-header {
  grid-row: header;
  grid-column: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: pink;
  gap: 50px;
}

.header-logo {
  justify-content: left;
  place-self: center;
  width: 70px;
  height: 70px;
  margin-left: 10px;
  border-radius: 50%;
  background: red;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 20px;
  width: 100px;
  margin-right: 30px;
  padding: 20px;
  border: solid 3px blue;
}

.header-nav a {
  font-size: 12px;
}
