.body-layout {
  display: grid;
  grid-template-rows: [header] 80px [content] 540px;
  grid-template-columns: auto;
  height: 100vh;
  color: #04b1c5;
  background-color: #111440;
  font-size: 2em;
}
